input {
  width: 70%;
  height: 40px;
  border-radius: 18px;
  border: 2px solid rgb(16, 173, 134);
  outline: none;
  box-shadow: rgba(1, 163, 164, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 5px 10px;
  transition: all 0.5s;
}
input:hover {
  border-color: #f39c12;
}
h1 {
  color: #a4b0be;
  text-transform: capitalize;
}
.ex-content {
  width: 50%;
}
i {
  color: #f8a5c2;
  font-size: 28px;
  padding-left: 20px;
}
span {
  font-size: 28px;
  color: #eab543;
  padding-left: 40px;
}
.resultt {
  background-color: #0a3d62;
  border-radius: 30px;
}
button {
  text-transform: uppercase;
  padding: 1.25rem 2.19rem;
  font-size: 0.94rem;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #079992 0,
    #60a3bc 51%,
    #079992 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  outline: none;
  border-radius: 1.875rem;
  color: #fff;
  cursor: pointer;
  line-height: 1.2;
  transition: all 0.5s;
  margin-top: 20px;
}
button:hover {
  background-position: right center;
}
button:focus {
  outline: none;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #badc58;
  background-color: #535c68;
}
a {
  color: #f8a5c2;
}
.nav-link {
  margin: 5px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
